configs/nodered_flows.json
[{"id":"47e68c63.e59a34","type":"tab","label":"Switch"},{"id":"23b3517f.57625e","type":"tab","label":"Light"},{"id":"550e3187.01d9a","type":"tab","label":"Analog Sensor"},{"id":"60a7164c.cb56b8","type":"tab","label":"Detect Devices"},{"id":"1065dcf2.f5fa23","type":"tab","label":"Alias"},{"id":"75c787a5.094cb8","type":"tab","label":"Delete"},{"id":"275dcedd.c30972","type":"tab","label":"Add MQTT hardware"},{"id":"5b28d76.16bf328","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"f6fe0865.2dcc88","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"c6520952.537188","type":"mqtt in","z":"23b3517f.57625e","name":"","topic":"/raw/xbee/out/+/+/digital","qos":"2","broker":"5b28d76.16bf328","x":129,"y":96,"wires":[["fa342e0f.fc9c5"]]},{"id":"798f8001.38cae","type":"template","z":"23b3517f.57625e","name":"transform_payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"command\":\"udevice\",\n    \"nvalue\": {{{payload}}},\n    \"svalue\": \"0\"\n}","x":365,"y":313,"wires":[["7515f4e0.ba723c","4fe7e828.b9aeb8"]]},{"id":"fa342e0f.fc9c5","type":"change","z":"23b3517f.57625e","name":"transform_topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"\\/raw\\/xbee\\/out\\/([af\\d]{16}\\/pin-\\d+)\\/digital","fromt":"re","to":"domoticz/in/$1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":211,"wires":[["798f8001.38cae"]]},{"id":"7515f4e0.ba723c","type":"debug","z":"23b3517f.57625e","name":"debug","active":false,"console":"false","complete":"true","x":636,"y":345,"wires":[]},{"id":"4fe7e828.b9aeb8","type":"mqtt out","z":"23b3517f.57625e","name":"domoticz/in/{address}/{port}","topic":"","qos":"","retain":"","broker":"5b28d76.16bf328","x":593,"y":490,"wires":[]},{"id":"6983f1e7.bbfba","type":"mqtt out","z":"47e68c63.e59a34","name":"","topic":"","qos":"","retain":"","broker":"5b28d76.16bf328","x":693,"y":338,"wires":[]},{"id":"2b5daaa7.023a16","type":"mqtt in","z":"47e68c63.e59a34","name":"","topic":"domoticz/out/+/+","qos":"2","broker":"5b28d76.16bf328","x":107,"y":118,"wires":[["c96b1ba3.6ce438"]]},{"id":"c96b1ba3.6ce438","type":"json","z":"47e68c63.e59a34","name":"","x":268,"y":118,"wires":[["cd46cfb7.e1a42"]]},{"id":"69f7ede8.7ac104","type":"debug","z":"47e68c63.e59a34","name":"debug","active":false,"console":"false","complete":"true","x":685,"y":517,"wires":[]},{"id":"cd46cfb7.e1a42","type":"switch","z":"47e68c63.e59a34","name":"is_switch","property":"payload.stype","propertyType":"msg","rules":[{"t":"eq","v":"Switch","vt":"str"}],"checkall":"true","outputs":1,"x":277,"y":264,"wires":[["686ab8d6.c37788"]]},{"id":"c648d06b.5ca5","type":"change","z":"47e68c63.e59a34","name":"transform_payload","rules":[{"t":"move","p":"payload.nvalue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":503,"y":427,"wires":[["6983f1e7.bbfba","69f7ede8.7ac104"]]},{"id":"686ab8d6.c37788","type":"change","z":"47e68c63.e59a34","name":"transform_topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"domoticz\\/out\\/([af\\d]{16}\\/pin-\\d+)","fromt":"re","to":"/raw/xbee/in/$1/digital","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":427,"wires":[["c648d06b.5ca5"]]},{"id":"433253b2.8e3c1c","type":"mqtt in","z":"550e3187.01d9a","name":"","topic":"/raw/xbee/out/+/+/analog","qos":"2","broker":"5b28d76.16bf328","x":128,"y":101,"wires":[["5a81462f.649a48"]]},{"id":"af3d2d76.1eaa1","type":"template","z":"550e3187.01d9a","name":"transform_payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"command\":\"udevice\",\n    \"svalue\":\"{{{payload}}}\"\n}","x":354,"y":318,"wires":[["30e4f69a.44566a","39ee445b.22ad2c"]]},{"id":"5a81462f.649a48","type":"change","z":"550e3187.01d9a","name":"transform_topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"\\/raw\\/xbee\\/out\\/([af\\d]{16}\\/pin-\\d+)\\/analog","fromt":"re","to":"domoticz/in/$1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":206,"y":210,"wires":[["af3d2d76.1eaa1"]]},{"id":"39ee445b.22ad2c","type":"mqtt out","z":"550e3187.01d9a","name":"domoticz/in/{address}/{port}","topic":"","qos":"","retain":"","broker":"5b28d76.16bf328","x":582,"y":495,"wires":[]},{"id":"30e4f69a.44566a","type":"debug","z":"550e3187.01d9a","name":"debug","active":false,"console":"false","complete":"true","x":624,"y":353,"wires":[]},{"id":"f3cfb64b.0192c8","type":"mqtt in","z":"60a7164c.cb56b8","name":"","topic":"/raw/xbee/out/+/+/config","qos":"2","broker":"f6fe0865.2dcc88","x":120,"y":147,"wires":[["3d6528a.8342bd8"]]},{"id":"d70eecdf.60ce","type":"debug","z":"60a7164c.cb56b8","name":"debug","active":false,"console":"false","complete":"true","x":631,"y":130,"wires":[]},{"id":"b2de6108.7bf0d","type":"mqtt out","z":"60a7164c.cb56b8","name":"","topic":"","qos":"","retain":"","broker":"f6fe0865.2dcc88","x":710,"y":276,"wires":[]},{"id":"3d6528a.8342bd8","type":"change","z":"60a7164c.cb56b8","name":"get_devicetopic","rules":[{"t":"set","p":"devicetopic","pt":"msg","to":"topic","tot":"msg"},{"t":"change","p":"devicetopic","pt":"msg","from":"\\/raw\\/xbee\\/out\\/([af\\d]{16}\\/pin-\\d+)\\/config","fromt":"re","to":"$1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":219,"y":260,"wires":[["5f747277.5a529c"]]},{"id":"a747ece4.16c7","type":"mqtt in","z":"1065dcf2.f5fa23","name":"","topic":"/raw/xbee/out/+/alias","qos":"2","broker":"5b28d76.16bf328","x":119,"y":175,"wires":[["1a9432a9.0ba1ed"]]},{"id":"1a9432a9.0ba1ed","type":"change","z":"1065dcf2.f5fa23","name":"get_address","rules":[{"t":"change","p":"topic","pt":"msg","from":"\\/raw\\/xbee\\/out\\/([af\\d]{16})\\/alias","fromt":"re","to":"$1","tot":"str"},{"t":"move","p":"topic","pt":"msg","to":"address","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":298,"y":260,"wires":[["6343a419.11123c"]]},{"id":"6343a419.11123c","type":"function","z":"1065dcf2.f5fa23","name":"store_alias","func":"global.set(msg.address, msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":498,"y":329,"wires":[["aecd3823.c56f28"]]},{"id":"aecd3823.c56f28","type":"debug","z":"1065dcf2.f5fa23","name":"","active":true,"console":"false","complete":"true","x":677,"y":383,"wires":[]},{"id":"5f747277.5a529c","type":"change","z":"60a7164c.cb56b8","name":"transform_topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"domoticz/in","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":343,"wires":[["603f596d.f25c08"]]},{"id":"603f596d.f25c08","type":"function","z":"60a7164c.cb56b8","name":"switch","func":"msg.address = msg.devicetopic.split(\"/\")[0];\nmsg.port = msg.devicetopic.split(\"/\")[1];\nmsg.alias = global.get(msg.address);\nmsg.sensorname = msg.alias + \"/\" + msg.port;\nmsg.extraoptions = \"\";\n\nswitch (msg.payload)\n{\n    case '3': // Digital Input\n        msg.sensortype = 1004; // Custom sensor\n        msg.extraoptions = ';SensorUnit:Units';\n        break;\n    case '2': // Analog Input\n    case '4': // Digital Output, Low\n    case '5': // Digital Output, High\n        msg.sensortype = 6; // Light/Switch\n        break;\n    default: // Not configured\n        return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":336,"y":425,"wires":[["8cb0ba5b.375388"]]},{"id":"8cb0ba5b.375388","type":"template","z":"60a7164c.cb56b8","name":"transform_payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"command\": \"createvirtualsensor\",\n    \"sensorname\": \"{{{sensorname}}}\",\n\t\"sensortype\": \"{{{sensortype}}}\",\n\t\"sensoroptions\":\"DeviceTopic:{{{devicetopic}}}{{{extraoptions}}}\"\n}","x":524,"y":467,"wires":[["d70eecdf.60ce","b2de6108.7bf0d"]]},{"id":"13a360cb.fcb59f","type":"mqtt in","z":"75c787a5.094cb8","name":"","topic":"domoticz/out/+/+","qos":"2","broker":"5b28d76.16bf328","x":103,"y":137,"wires":[["ecca9126.bca6"]]},{"id":"ecca9126.bca6","type":"json","z":"75c787a5.094cb8","name":"","x":188,"y":252,"wires":[["4151de22.121c"]]},{"id":"44f0fcbc.925c34","type":"switch","z":"75c787a5.094cb8","name":"","property":"payload.fromcommand","propertyType":"msg","rules":[{"t":"eq","v":"deletedevice","vt":"str"}],"checkall":"true","outputs":1,"x":347,"y":426,"wires":[["9f476963.1ed2c8"]]},{"id":"4151de22.121c","type":"change","z":"75c787a5.094cb8","name":"transform_topic","rules":[{"t":"change","p":"topic","pt":"msg","from":"domoticz\\/out\\/([af\\d]{16}\\/pin-\\d+)","fromt":"re","to":"/raw/xbee/in/$1/config","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":219,"y":349,"wires":[["44f0fcbc.925c34"]]},{"id":"9f476963.1ed2c8","type":"change","z":"75c787a5.094cb8","name":"set_payload_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":512,"y":354,"wires":[["5b24ea03.579334","4dce06dc.6586b8"]]},{"id":"4dce06dc.6586b8","type":"mqtt out","z":"75c787a5.094cb8","name":"","topic":"","qos":"","retain":"","broker":"5b28d76.16bf328","x":707,"y":281,"wires":[]},{"id":"5b24ea03.579334","type":"debug","z":"75c787a5.094cb8","name":"","active":true,"console":"false","complete":"true","x":698,"y":443,"wires":[]},{"id":"7461080b.a82108","type":"debug","z":"275dcedd.c30972","name":"","active":true,"console":"false","complete":"payload","x":655,"y":196,"wires":[]},{"id":"56a647a2.3a1368","type":"http request","z":"275dcedd.c30972","name":"","method":"GET","ret":"obj","url":"http://localhost:8080/json.htm?type=hardware","tls":"","x":219,"y":321,"wires":[["79e89275.6834fc"]]},{"id":"b2d4106b.0180c","type":"mqtt in","z":"275dcedd.c30972","name":"","topic":"/service/xbee2mqtt/status","qos":"2","broker":"5b28d76.16bf328","x":146,"y":163,"wires":[["63e27a78.5cc404"]]},{"id":"63e27a78.5cc404","type":"switch","z":"275dcedd.c30972","name":"is_connected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":194,"y":240,"wires":[["56a647a2.3a1368"]]},{"id":"79e89275.6834fc","type":"function","z":"275dcedd.c30972","name":"check_mqtt_hardware","func":"for(var hw in msg.payload.result) {\n    if (msg.payload.result[hw][\"Type\"] == 43)\n        return { \"payload\": true };\n}\n\nreturn { \"payload\": false };","outputs":1,"noerr":0,"x":259,"y":430,"wires":[["a1d2f95c.92e5d8"]]},{"id":"a1d2f95c.92e5d8","type":"switch","z":"275dcedd.c30972","name":"if_not_exists","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":491,"y":429,"wires":[["c07d03b4.47b51"]]},{"id":"c07d03b4.47b51","type":"http request","z":"275dcedd.c30972","name":"","method":"GET","ret":"txt","url":"http://localhost:8080/json.htm?type=command&param=addhardware&htype=43&name=MQTT&address=localhost&port=1883&datatimeout=300&enabled=true","tls":"","x":541,"y":321,"wires":[["7461080b.a82108"]]},{"id":"c85cb029.5cd4f","type":"comment","z":"47e68c63.e59a34","name":"Description","info":"Connect Switches updates issued by Domoticz\nwith a particular digital output pin of XBee.","x":88,"y":181,"wires":[]},{"id":"83ced2aa.65a97","type":"comment","z":"23b3517f.57625e","name":"Description","info":"Connect digital inputs updates issued by XBee\nwith a particular digital sensor of Domoticz.","x":88,"y":152,"wires":[]},{"id":"aeeb2279.8de11","type":"comment","z":"550e3187.01d9a","name":"Description","info":"Connect updates issued by XBee analog inputs\nwith a certain analog sensor Domoticz.","x":77,"y":152,"wires":[]},{"id":"78029426.3d539c","type":"comment","z":"60a7164c.cb56b8","name":"Description","info":"Detects certain active settings for each pin of\nthe XBee and therefore creates the\nsensors/actuators corresponding to Domoticz.","x":82,"y":199,"wires":[]},{"id":"9d7c589d.35c908","type":"comment","z":"1065dcf2.f5fa23","name":"Description","info":"Detects alias associated with the addresses of\nXBee devices and stores them as global variables\nfor use by other flows.","x":90,"y":227,"wires":[]},{"id":"15951333.ec63bd","type":"comment","z":"75c787a5.094cb8","name":"Description","info":"Detect events corresponding to removal of devices\nin home automation and disables the configuration\nof XBee's pins to zero.","x":81,"y":189,"wires":[]},{"id":"ca06001e.b858d","type":"comment","z":"275dcedd.c30972","name":"Description","info":"Detects the connection of the gateway xbee2mqtt\nand ensures that there is a hardware MQTT in\nDomoticz. If not, create it through a GET call\nto the website.\n\nNOTE: This only works when access to Domoticz\nis not password protected. In that case, it is\nnecessary to extend the request of the URL","x":99,"y":109,"wires":[]}]